/* Light/Dark mode support */
:root {
  color-scheme: light dark;
  --border-color: #ccc;
  --pre-background-color: #f5f5f5;
  --text-color: #333;
  --link-color: #0044dd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #333;
    --pre-background-color: #1a1a1a;
    --text-color: #ccc;
    --link-color: #3377dd;
    background-color:#121212;
  }
}

/* Basics */
body {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 700px;
  padding: 0 10px
}
pre {
  background-color: var(--pre-background-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  font-size: 12px;
  line-height: 1.1;
  padding: 10px;
}
code { font-size: 14px; line-height: 1.2; }
pre > code { font-size: 12px; }
a {
  color: var(--link-color);
  text-decoration: none;
}
h1,h2,h3 { line-height: 1.2; }
h1 > a { color: var(--text-color); }
h2 > a { color: var(--text-color); }
h3 > a { color: var(--text-color); }
.center { text-align: center; }

/* Header */
header { margin-bottom: 2.5em; }
header > div.site-title > h1 {
  margin: 0;
  text-align: center;
}

/* Navbar */
nav > .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav > ul > li.menu-item {
  display: inline;
  padding: 0 0.5em 0 0.5em;
}
nav > ul > li.menu-item > a { color: var(--text-color); }

/* Footer */
footer > div.copyright { display: none; text-align: center; }

/* Home */
section#posts > ol.post-list { list-style-type: none; }

/* Single */
article h2.post-title { margin-bottom: 0.15em; }
article img { display: block; margin-left: auto; margin-right: auto; max-width: 100%; }
article figcaption { text-align: center; }
article figcaption > h4 { font-weight: normal; margin-top: 0; }
