<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  {{- block "title" . }}
    {{- if .IsPage }}
      {{- .Title }} - {{ .Site.Title }}
    {{- else }}
      {{- default .Site.Title .Title }}
    {{- end }}
  {{- end -}}
</title>
<link href="{{ "css/site.css" | relURL }}" rel="stylesheet">
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
